body { background-color: white; font-family: Arial, sans-serif; font-size: 100%;  line-height: 1.2; padding: 1em; color: #2E2E2E; width: 80%; margin: auto auto; }

/* set style for links to more info */
p.bib_infolinks a {
  color: navy;
  text-decoration: none;
}
p.bib_infolinks a:hover {
  text-decoration: underline;
}

/* give all components of an entry the same argin and alignment */
div.bib_entry_main, div.bib_abstract, div.bib_bibtex {
  padding: 0.5em;
  margin:0.0em;
  text-align: justify;
}

/* when an abstract or bib entry is viewed, highlight the entire entry */
li.bib_highlight {
  background-color: #EFEFEF;
  border-top: 2px #2E2E2E solid;
  border-bottom: 2px #2E2E2E solid;
  margin: 0px;
  padding: 0px;
}

/* increase space between entries */
li.bib_entry {
  margin-bottom: 0.3em;
}

/* emphasize my name in reference entry */
span.self_author {
  font-weight: bold;
}

/* avoid excessive space between paragraphs */
p.bib_entry_text, p.bib_infolinks {
  padding: 0px;
  margin: 0px;
}

/* leave gap between entry and inlinks */
p.bib_infolinks {
  margin-top: 0.3em;
}

/* style display of raw bibtex */
div.bib_bibtex pre {
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
}

/* hide items */
div.noshow {
  display: none;
}

